body {
  background: #B7004E;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
canvas{display:block}
h1{
    position: absolute;
    top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "avenir";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}